.create_entry {
    display: block;

    &_block {
        display: flex;
        justify-content: space-around;

        margin-bottom: 15px;
    }

    button {
        display: flex;

        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}